body {
  /*background: #9903ff;*/
  font-family: Roboto;
  font-weight: 400;
  height: 100vh;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

h1 {
  font-size: clamp(34px, 5vw, 48px);
  font-weight: 400;
}
h2 {
  font-weight: 400;
  font-size: 2rem;
}
h3 {
  font-weight: normal;
}

p {
  white-space: pre-wrap;
}

h2 + h3,
p + h3,
h1 + p,
h2 + p {
  margin-top: 2rem;
}

h3 + p,
p + p {
  margin-top: 1rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
