body {
  /*background: #9903ff;*/
  font-family: Roboto;
  font-weight: 400;
  height: 100vh;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.greyedOut {
  opacity: 0.6;
}

.adjacent-mar-top + .adjacent-mar-top {
  margin-top: 10px;
}

@media only screen and (min-width: 960px) {
  .adjacent-mar-top + .adjacent-mar-top {
    margin-top: 15px;
  }
}

@media only screen and (min-width: 960px) {
  .app-header + .content-page,
  .page-title + .adjacent-mar-top {
    margin-top: 30px;
  }
}

.page-title {
  font-size: clamp(34px, 5vw, 48px);
  font-weight: 400;
  margin-right: auto;
}

@media only screen and (min-width: 320px) {
  .page-title {
    margin-right: 0;
  }
}

@media only screen and (min-width: 960px) {
  .page-title {
    font-weight: 700;
  }
}

.align-right-sm {
  margin-left: auto;
}

@media only screen and (min-width: 320px) {
  .align-right-sm {
    margin-left: 0;
  }
}

p {
  white-space: pre-wrap;
}

h2 + h3,
p + h3,
h1 + p,
h2 + p {
  margin-top: 2rem;
}

h3 + p,
p + p {
  margin-top: 1rem;
}
